/* 全体 */
body {
    background-color: #D3DEF1;
	color: #203864;
    text-align: center;
}

.wrapper {
    background-color: #ffffff;
	width: 95%;
    padding: 1% 3% 3% 3%;
    margin: 1% auto;
	border-radius: 20px;
}

button {
    width: 100px;
    height: 30px;
    margin-top: 30px;
    border-radius: 5px;
}

button:hover {
    opacity: 0.6;
}  

.red_letter {
    color: #fa8072;
}

/* header */
#header {
    display: none; 
}

#home {
    background-color: #fa8072;
    width: 150px;
    height: 50px;
    font-size: large;
}

/* page1 */
#page1 {
    /* display: none; */
}

/* page2 */
#page2 {
    display: none;
}

/* page3 */
#page3 {
    display: none;
}

.player {
    display: block;
}

.panels {
    background-color: #203864;
    padding: 10px 10px;
}

.panel {
    width: 50px;
    height: 50px;
    margin: 5px 5px;
    display: inline-block;
    line-height: 50px;
    border: 1px solid;
    border-radius: 5px;
}

.panel:hover {
    opacity: 0.6;
}  

.results {
    display: block;
}

/* discription */
#discription ul {
    text-align: left;
}

#gamescene img{
    width: 50%;
    height: 50%;
}
